03-dist-sw-dev-sm15-cse445-598/src/WebApplication/App_WebReferences/wsdlUtilsService/WSDLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar45.fulton.asu.edu/Page1/WSDLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar45.fulton.asu.edu/Page1/WSDLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar45.fulton.asu.edu/Page1/WSDLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSDLUtilitiesServices" />
      <xsd:import schemaLocation="http://webstrar45.fulton.asu.edu/Page1/WSDLService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSDLService_ExtractWsdlOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtractWsdlOperation" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_ExtractWsdlOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtractWsdlOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_ExtractWsdlAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtractWsdlAddresses" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_ExtractWsdlAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtractWsdlAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_GetWebServiceMethodsInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebServiceMethodsInfo" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_GetWebServiceMethodsInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebServiceMethodsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_InvokeWebServiceMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeWebServiceMethod" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_InvokeWebServiceMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeWebServiceMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_InvokeWebServiceOperationsGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeWebServiceOperationsGroup" />
  </wsdl:message>
  <wsdl:message name="IWSDLService_InvokeWebServiceOperationsGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeWebServiceOperationsGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSDLService">
    <wsdl:operation name="ExtractWsdlOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDLService/ExtractWsdlOperation" message="tns:IWSDLService_ExtractWsdlOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDLService/ExtractWsdlOperationResponse" message="tns:IWSDLService_ExtractWsdlOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtractWsdlAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDLService/ExtractWsdlAddresses" message="tns:IWSDLService_ExtractWsdlAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDLService/ExtractWsdlAddressesResponse" message="tns:IWSDLService_ExtractWsdlAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebServiceMethodsInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDLService/GetWebServiceMethodsInfo" message="tns:IWSDLService_GetWebServiceMethodsInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDLService/GetWebServiceMethodsInfoResponse" message="tns:IWSDLService_GetWebServiceMethodsInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeWebServiceMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDLService/InvokeWebServiceMethod" message="tns:IWSDLService_InvokeWebServiceMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDLService/InvokeWebServiceMethodResponse" message="tns:IWSDLService_InvokeWebServiceMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeWebServiceOperationsGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDLService/InvokeWebServiceOperationsGroup" message="tns:IWSDLService_InvokeWebServiceOperationsGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDLService/InvokeWebServiceOperationsGroupResponse" message="tns:IWSDLService_InvokeWebServiceOperationsGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSDLService" type="tns:IWSDLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExtractWsdlOperation">
      <soap:operation soapAction="http://tempuri.org/IWSDLService/ExtractWsdlOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractWsdlAddresses">
      <soap:operation soapAction="http://tempuri.org/IWSDLService/ExtractWsdlAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebServiceMethodsInfo">
      <soap:operation soapAction="http://tempuri.org/IWSDLService/GetWebServiceMethodsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeWebServiceMethod">
      <soap:operation soapAction="http://tempuri.org/IWSDLService/InvokeWebServiceMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeWebServiceOperationsGroup">
      <soap:operation soapAction="http://tempuri.org/IWSDLService/InvokeWebServiceOperationsGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDLService">
    <wsdl:port name="BasicHttpBinding_IWSDLService" binding="tns:BasicHttpBinding_IWSDLService">
      <soap:address location="http://webstrar45.fulton.asu.edu/Page1/WSDLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>